{% extends "default.html" %} <!--Our page template-->
{% set wrapClass = "mdl-layout--fixed-header" %}
{% set title = "About" %} <!--Set our page title-->

{% block content %} <!--Start Put page data-->
<header class="mdl-layout__header">
	<div class="mdl-layout__header-row">
		<span class="mdl-layout-title">About</span>
	</div>
</header>
{% include 'parts/side-menu-part.html' %}
<main class="mdl-layout__content">
	<div class="page-content">
		<div class="mdl-grid">
			<div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--2dp">
				<div class="mdl-card__title mdl-card--border">
					<h2 class="mdl-card__title-text">Version 0.2.3</h2>
				</div>
				<div class="mdl-card__supporting-text">
					<p>
						Chrome browser extension for adding custom css styles on any page.
						With Material design and code editor.
					</p>
					<p>
						Features:
					</p>
					<ul>
						<li>Autocomplete</li>
						<li>CSS Code Linting and highlighting</li>
						<li>Check on Brackets</li>
						<li>Saving short styles in cloud when logged in Chrome browser</li>
					</ul>
					<p>
						<a target="_blank" href="https://github.com/uamithril/blink-style-importer/blob/master/changelog.md">Changelog</a>
					</p>
				</div>
			</div>
		</div>
	</div>
</main>
{% endblock %} <!--end Put page data block-->