body, html {
    height: 100%;
    font-family: Helvetica, Ubuntu, Arial, sans-serif;
}
//end for fixed height bottom footer

//start off bootstrap outline links in firefox
a {
    &:focus {
        text-decoration: none;
        outline: none;
    }
}
//end off bootstrap outline links in firefox

//start no browser support
.chromeframe {
    font-size: 30px;
    position: fixed;
    z-index: 99999;
    top: 0;
    right: 0;
    left: 0;
    text-align: center;
    background: #fff;
    a {
        color: red;
    }
}
//end no browser support

body {
    min-height: 200px;
    min-width: 500px;
}

