body, html {
    font-family: Helvetica, Ubuntu, 'Segoe UI', Arial, sans-serif;
    height: 100%;
}
//end for fixed height bottom footer

//start off bootstrap outline links in firefox
a {
    &:focus {
        text-decoration: none;
        outline: none;
    }
}
//end off bootstrap outline links in firefox

body {
    min-width: 590px;
    min-height: 590px;
    position: relative;
}

