body, html {
    font-family: Helvetica, Ubuntu, 'Segoe UI', Arial, sans-serif;
    height: 100%;
}
//end for fixed height bottom footer

//start off bootstrap outline links in firefox
a {
    &:focus {
        text-decoration: none;
        outline: none;
    }
}
//end off bootstrap outline links in firefox

body {
    min-width: 545px;
    min-height: 590px;
    position: relative;
}

.form-list-input {
    margin-bottom: 15px;
}

.CodeMirror {
    font-size: 14px;
}

.user-avatar-wrap {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    overflow: hidden;
    margin: 30px auto;
    img {
        max-width: 100%;
        height: auto;
        width: 100%;
    }
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.hidden {
    display: none !important;
}

.visible {
    display: block !important;
}

.img-responsive {
    max-width: 100%;
    height: auto;
}

.sup-style {
    position: absolute;
    top: -0.8em;
    margin-left: 0.8em;
    font-size: 0.6em;
    .mdl-navigation__link & {
        top: 0.7em;
    }
    &.red {
        color: red;
    }
}