.mdl-textfield {
	width: 100%;
}
.mdl-card {
	min-height: 289px;
}

.mdl-data-table {
	width: 100%;
}

.mdl-card__supporting-text {
	width: calc(100% - 32px);
}

.mdl-layout__header .mdl-layout__drawer-button {
	&:focus {
		outline: none;
	}
}